# Python shit
__pycache__/
/**/*.pyc
# to import passwords
/**/passwords.py
# db files
/**/*.db

# logging from init conf file
/*.log

# other stuff
/**/plan.txt
/**/.mypy_cache

# PyCharm
.idea/

# wordpress installer config
wordpress_installer_config.py