# Python shit
__pycache__/

# db files
/**/*.db

# logging from init conf file
/*.log
logs/wordpress_installer.log

# other stuff
/**/plan.txt
/**/.mypy_cache

# PyCharm
.idea/

# configuration files
netsocadmin/config.py
netsocadmin/logging_config.ini


# old backups of files
/**/old.*

# For those who work on mac
.DS_Store


