# Python shit
__pycache__/
/**/*.pyc
# to import passwords
/**/passwords.py
# db files
/**/*.db

# logging from init conf file
/*.log

# other stuff
/**/plan.txt
/**/.mypy_cache

# PyCharm
.idea/

# configuration files
wordpress_installer_config.py
admin_passwords.py

# old backups of files
/**/old.*

# For those who work on mac
.DS_Store