{% extends "page-skeleton.html" %}

{% block head %}
    {{ super() }}

    <style>
    </style>

{% endblock %}

{% block body %}
    {{ super() }}

    <main class="row container">
        <article class="card-panel col s12" style="text-align: center; padding-top: 2em; padding-bottom: 2em">
            <img width="30%" height="auto" src="https://vignette.wikia.nocookie.net/joke-battles/images/d/d8/MissingNo..png/revision/latest?cb=20160129051405">
            <h2 style="margin-top: 2em; margin-bottom: 2em">4͈̆̽̒0̭̞̗͖̟͉͕ͭ4͕̹̘̞͂̋ P̳̦̗̦͖̤̉̌͌̊̋̆ͅa̤̯̾̊͐g̟͖̒̍͆͐͆̎ͅḛ̆̚ ̲̖̲̖ͫ͊̀N̞̯̉̇͛o͕̙̹͚͓͊t̯̲̰̜̭̫̓̃ ͔̻͇͕̰͑͋͒͋̍͂̈́F̱̩͎̣̥̲̂̊̃̅̽͐o͍̳ụ̹̙̰̬͒ͣ̾n̰̙̼̦̭̬d̲̞̘̥͔̦͐ͣ̈́ͣͤ̂ͭ</h2>
            <br/>
            <a href="/">Click here to go to Home</a>
        </article>
    </main>
{% endblock %}