{% extends "page-skeleton.html" %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class="card">
        <div class="card-content" style="text-align: center">
            <img width="30%" height="auto" src="https://vignette.wikia.nocookie.net/joke-battles/images/d/d8/MissingNo..png/revision/latest?cb=20160129051405">
            <h2 style="margin-top: 2em; margin-bottom: 2em">4͈̆̽̒0̭̞̗͖̟͉͕ͭ4͕̹̘̞͂̋ P̳̦̗̦͖̤̉̌͌̊̋̆ͅa̤̯̾̊͐g̟͖̒̍͆͐͆̎ͅḛ̆̚ ̲̖̲̖ͫ͊̀N̞̯̉̇͛o͕̙̹͚͓͊t̯̲̰̜̭̫̓̃ ͔̻͇͕̰͑͋͒͋̍͂̈́F̱̩͎̣̥̲̂̊̃̅̽͐o͍̳ụ̹̙̰̬͒ͣ̾n̰̙̼̦̭̬d̲̞̘̥͔̦͐ͣ̈́ͣͤ̂ͭ</h2>
            <br/>
            <a href="/">Click here to go to Home</a>
        </div>
    </div>
{% endblock %}