{% extends "page-skeleton.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block body %}
	{{ super() }}
	
    {# Weekly body #}
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Weekly Backups</div>
                    <div id="weekly-backups">
                        {% if weekly_backups|length > 0 %}
                            <ul class="collection" style="max-height: 20em; overflow-y:scroll;">
                                {% for b in weekly_backups %}
                                    <li class="collection-item">
                                        <div>
                                            {{ b }}
                                            <a class="activator secondary-content" href="/backup/{{ username }}/weekly/{{ b }}">
                                                <i class="material-icons">cloud_download</i>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <br/>
                            <p> No backups were found. If you have had your account for over a week, please contact us.</p><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    
        {# Monthly body #}
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Monthly Backups</div>
                    <div id="monthly-backups">
                        {% if monthly_backups|length > 0 %}
                            <ul class="collection" style="max-height: 20em; overflow-y:scroll;">
                                {% for b in monthly_backups %}
                                    <li class="collection-item">
                                        <div>
                                            {{ b }}
                                            <a class="activator secondary-content" href="/backup/{{ username }}/monthly/{{ b }}">
                                                <i class="material-icons">cloud_download</i>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <br />
                            <p> No backups were found. If you have had your account for over a month, please contact us.</p><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}