{% extends "page-skeleton.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block body %}
	{{ super() }}
	
	{# This stuff is for the backup tab #}
	<div id="backups" class="container">
		<div class="card z-depth-3" style="min-height:400px;margin-top:2%;padding-bottom: 3%;">
			<div class="card-content">
				<span class="card-title teal-title">Home Directory Backups</span>

				{# Tab headers #}
				<div class="col s12">
					<ul class="tabs">
						<li class="col s6 tab"><a class="active teal-text lighten-2" href="#weekly-backups"> Weekly </a></li>
						<li class="col s6 tab"><a class="teal-text lighten-2" href="#monthly-backups"> Monthly </a></li>
						<div class="indicator teal lighten-2" style="z-index:1"></div>
					</ul>
				</div>

				{# Weekly body #}
				<div id="weekly-backups" class="col s12">
					{% if weekly_backups|length > 0 %}
						<ul class="collection" style="max-height: 20em; overflow-y:scroll;">
							{% for b in weekly_backups %}
								<li class="collection-item">
									<div>
										{{ b }}
										<a class="activator secondary-content" href="/backup/{{ username }}/weekly/{{ b }}">
											<i class="material-icons">cloud_download</i>
										</a>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<br />
						<p> No backups were found. If you have had your account for over a week, please contact us.</p><br>
					{% endif %}
				</div>

				{# Monthly body #}
				<div id="monthly-backups" class="col s12">
					{% if monthly_backups|length > 0 %}
						<ul class="collection" style="max-height: 20em; overflow-y:scroll;">
							{% for b in monthly_backups %}
								<li class="collection-item">
									<div>
										{{ b }}
										<a class="activator secondary-content" href="/backup/{{ username }}/monthly/{{ b }}">
											<i class="material-icons">cloud_download</i>
										</a>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<br />
						<p> No backups were found. If you have had your account for over a month, please contact us.</p><br>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}