{% extends "page-skeleton.html" %}
{% block head %}
    {{ super() }}

    <script>
		function checkUsername() {
            // disable until good uid has been found
            document.getElementById("register-button").disabled = true;

            // get shit from form
            var token = document.getElementById("_token").value;
            var email = document.getElementById("email").value;
            var uid = document.getElementById("uid").value;

            // make AJAX request
			var req = new XMLHttpRequest();
			req.onreadystatechange = () => {
				if(req.readyState !== 4) return;
                var err = document.getElementById("taken-error");
                var good = document.getElementById("good-name");
                err.innerText = "";
                good.innerText = "";
                if (req.status !== 200) {
                    err.innerText = "Invalid request"
                } else if (req.responseText !== "Available") {
                    err.innerText = "Username not available";
                } else if (! /^[a-z0-9]([a-z0-9\-\_]{0,60}[a-z0-9])$/.test(uid)) {
                    err.innerText = "Username must be all lower case letters, numbers, hyphens or underscores only"
                } else {
                    good.innerText = "Username available!"
                    document.getElementById("register-button").disabled = false;
                }
			}
            req.open("POST", window.location.origin + "/username")
            req.setRequestHeader("email", email);
            req.setRequestHeader("token", token);
            req.setRequestHeader("uid", uid);
            req.send();
        }
	</script>

	<style>
		.error {
			color: red;
		}

		.good {
			color: green;
		}

		.container {
            padding: 0 15%;
        }
    </style>
{% endblock %}

{% block body %}
	{{ super() }}

	<div class="row">
        <div class="card">
            <div class="card-content">
                <img src="/static/banner-icon.svg" class="responsive-img">
                <h3 class="center-align"> Register </h3>
                <form method="POST" action="/completeregistration" accept-charset="UTF-8">
                    <input id="_token" name="_token" type="hidden" value="{{ token }}">
    
                    <div>
                        <div class="input-field">
                            <label for="email">Student or Society Email</label>
                            <input disabled="disabled" name="email" type="text" value="{{ email_address }}">
                            <input autocomplete="off" id="email" name="email" type="hidden" value="{{ email_address }}">
                        </div>
                    </div>
                    <div>
                        <div class="input-field">
                            <label for="name">Full Name/Society Name</label>
                            <input autocomplete="off" class="example" autofocus="autofocus" name="name" type="text" id="name">
                        </div>
                    </div>
                    <div>
                        <div class="input-field">
                            <label for="uid">Username (lowercase-only)</label>
                            <input pattern="^[a-z0-9]([a-z0-9\-\_]{0,60}[a-z0-9])$" autocomplete="off" class="example" name="uid" type="text" id="uid" maxlength="15">
                        </div>
                        <br/>
                        <button onclick="checkUsername()" class="btn waves-effect waves-light" type="button" name="action"> Check Username </button>
                        <span id="taken-error" class="error-msg"> </span><span id="good-name" class="good"> </span>
                    </div>
                    <br/>
                    <button id="register-button" class="btn waves-effect waves-light" type="submit" name="action" disabled> Register
                        <i class="mdi-content-send right"></i>
                    </button>
                    <input name="token" type="hidden" value="{{ token }}">
                </form>
                <div class="error-msg"> {{ error_message }} </div>
            </div>
        </div>
	</div>
{% endblock %}
