{% extends "page-skeleton.html" %}
{% block head %}
    {{ super() }}

    <script>
		function checkUsername() {
            // disable until good uid has been found
            document.getElementById("register-button").disabled = true;

            // get shit from form
            var token = document.getElementById("_token").value;
            var email = document.getElementById("email").value;
            var uid = document.getElementById("uid").value;

            var err = document.getElementById("taken-error");
            var good = document.getElementById("good-name");

            // make AJAX request
			var req = new XMLHttpRequest();
			req.onreadystatechange = () => {
				if(req.readyState !== 4) return;
                err.innerText = "";
                good.innerText = "";
                if (req.status !== 200) {
                    err.innerText = "Error checking username :("
                } else if (req.responseText !== "Available") {
                    err.innerText = "Username not available";
                } else if (! /^[a-z0-9]/.test(uid)) {
                    err.innerText = "Username must start with a lower case letter or a number only"
                } else if (! /[a-z0-9]$/.test(uid)) {
                    err.innerText = "Username must end with a lower case letter or a number only"
                } else if (! /^[a-z0-9]([a-z0-9\-\_]{0,60}[a-z0-9])$/.test(uid)) {
                    err.innerText = "Username must be all lower case letters, numbers, hyphens or underscores only"
                } else {
                    good.innerText = "Username available!"
                    document.getElementById("register-button").disabled = false;
                }
			}
            req.open("POST", window.location.origin + "/username")
            req.setRequestHeader("email", email);
            req.setRequestHeader("token", token);
            req.setRequestHeader("uid", uid);
            req.send();
        }
	</script>
{% endblock %}

{% block body %}
	{{ super() }}

    <div class="card-panel">
        <img src="/static/banner-icon.svg" class="responsive-img">
        <h3 class="center-align"> Register </h3>
        <form method="POST" action="/completeregistration" accept-charset="UTF-8" class="right-align">
            <input id="_token" name="_token" type="hidden" value="{{ token }}">
            <div class="row">
                <div class="input-field">
                    <input readonly id="email" name="email" type="text" value="{{ email_address }}">
                    <label for="email">Student or Society Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input autocomplete="off" class="example" autofocus="autofocus" name="name" type="text" id="name">
                    <label for="name">Full Name/Society Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input autocomplete="off" class="example" name="uid" type="text" id="uid" maxlength="15" data-length="15">
                    <label for="uid">Username (lowercase-only)</label>
                </div>
            </div>
            <p id="taken-error" class="center-align red-text">{{ error_message }}</p>
            <p id="good-name" class="center-align green-text"></p>
            <button onclick="checkUsername()" class="btn waves-effect waves-light input-field" type="button" name="action"> Check Username </button>
            <button id="register-button" class="btn waves-effect waves-light input-field" type="submit" name="action" disabled>
                Register
                <i class="material-icons right">send</i>
            </button>
            <input name="token" type="hidden" value="{{ token }}">
        </form>
    </div>
{% endblock %}
