{% extends "page-skeleton.html" %}
{% block head %}
    {{ super() }}

    <style>
        .tabs {
            margin-bottom: 3rem;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active {
            background-color: rgba(0,0,0,0);
        }
        .tabs .indicator {
            background-color: #4db6ac !important;
        }
        #login form p {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        #login label>input[type="checkbox"]+span {
            margin: .5em 0;
            height: auto;
        }
    </style>

{% endblock %}

{% block body %}
    {{ super() }}
    <div class="card-panel">
        <img src="/static/banner-icon.svg" class="responsive-img">

        <!-- Tab headers -->
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="teal-text waves-light lighten-2 active" href="#login">Log In</a></li>
            <li class="tab"><a class="teal-text waves-light lighten-2" href="#signup">Sign Up</a></li>
        </ul>

        <!-- Tab bodies -->
        <div id="login" class="center-align">
            <form method="POST" action="/login{% if redirect %}?r={{ redirect }}{% endif %}" onsubmit="return checkUsername()">
                <div class="row">
                    <div class="input-field">
                        <input name="username" type="text" id="username" autocomplete="off" autofocus="autofocus">
                        <label for="username">Server Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input name="password" type="password" id="password" autocomplete="off">
                        <label for="password">Server Password</label>
                    </div>
                </div>
                <p class="left-align">
                    <label id="pass_label">
                        <input type="checkbox" id="show_pass" onclick="showPassword()">
                        <span>Show Password</span>
                    </label>

                    <label id="forgot_label">
                        <input type="checkbox" id="forgot_toggle" onclick="forgotToggle()">
                        <span>Forgot Username or Password?</span>
                    </label>

                    <button id="login-button" class="btn waves-effect waves-light" type="submit">
                        Login
                        <i class="material-icons right">send</i>
                    </button>
                </p>
            </form>
            <p id="error-message" class="red-text">
              {{ error_message }}
            </p>
            <form method="POST" action="/forgot" id="forgot" class="right-align" hidden>
                <div class="divider" style="margin: 5% 0"></div>
                <h5 class="center-align">Forgotten Username or Password?</h5>
                <div class="row">
                    <div class="input-field">
                        <input name="email" type="email" id="forgot_email" class="validate">
                        <label for="forgot_email">Student or Society Email</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    Send Verification
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

        <div id="signup">
            <form method="POST" action="/sendconfirmation" class="right-align">
                <div class="row">
                    <div class="input-field">
                        <input name="email" type="email" id="email" class="validate">
                        <label for="email">Student or Society Email</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    Send Verification
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <script>
        function showPassword() {
            var field = document.getElementById("password");
            if (field.type === "password") {
                field.type = "text";
                document.getElementById("pass_label").style.textDecoration = "underline";
            } else {
                field.type = "password";
                document.getElementById("pass_label").style.textDecoration = "none";
            }
        }
        function forgotToggle() {
            var form = document.getElementById("forgot");
            if (form.style.display === "block") {
                form.style.display = "none";
                document.getElementById("forgot_label").style.textDecoration = "none";
            } else {
                form.style.display = "block";
                document.getElementById("forgot_label").style.textDecoration = "underline";
            }
        }
        function checkUsername() {
            var err = document.getElementById("error-message");
            var uid = document.getElementById("username").value;
            if (! (/^[a-z0-9]([a-z0-9\-\_]{0,60}[a-z0-9])$/).test(uid)) {
                err.innerHTML = "Username must be all lower case letters, numbers, hyphens or underscores only.<br/>If this is your username, please contact us to have your username changed to a valid one."
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
