{% extends "page-skeleton.html" %}
{% block head %}
    {{ super() }}
    
    <style>
    .inline {
        display: inline-block;
    }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script src="/static/javascript/passwordMeter.js"></script>

{% endblock %}

{% block body %}
	{{ super() }}

    {# This stuff is the MySQL tab #}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Database List:</span>
                    {% if databases|length > 0 %}
                        <ul class="collection" style="max-height: 7.5em; overflow-y: scroll">
                            {% for db in databases %}
                                <li class="collection-item">
                                    <div>
                                        {{ db }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Databases to show &nbsp;&nbsp; O_o </p>
                        <br/>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Change Password:</span>
                    <div>Changes the password for your MySQL account</div>
                    <span style="display:block;" class="error-msg">{{ mysql_pass_error }}</span>
                    <form action="/changepw" method="POST">
                        <div class="input-field col s6">
                            <input autocomplete="off" type="text" name="username">
                            <label for="username">Server username</label>
                        </div>
                        <div class="input-field col s6">
                            <input autocomplete="new-password" type="password" name="password">
                            <label for="password">Server password</label>
                        </div>
                        <div class="input-field col s6">
                            <input autocomplete="new-password" type="password" name="new-password" id="new-password">
                            <label for="new-password">New password</label>
                        </div>
                        <div class="input-field col s6">
                            <meter max="4" id="password-strength-meter"></meter>
                            <p id="password-strength-text"></p>
                        </div>
                        <button type="submit" class="activator btn waves-effect waves-light">Change MySQL Password&nbsp;&nbsp;<i class="material-icons">settings_backup_restore</i></button>
                    </form>
                    {% if success %}
                    <br/>
                    <p style="color:green;">Your MySQL password change was successful</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div id="database-change-form">
                        <span class="card-title">New Database:</span>
                        <div>Create a database. All databases are prefixed with <code>{{ username }}_</code></div>
                        <span style="display:block;" class="error-msg">{{ mysql_create_error }}</span>
                        <form action="/createdb" method="POST">
                            <div class="input-field col s6">
                                <input autocomplete="off" type="text" name="username">
                                <label for="mysql-username">Server username</label>
                            </div>
                            <div class="input-field col s6">
                                <input autocomplete="new-password" type="password" name="password">
                                <label for="mysql-password">Server password</label>
                            </div>
                            <div class="input-field col s12 m1">
                                <input disabled autocomplete="off" type="text" value="{{ username }}_">
                                <label for="prefix">Prefix</label>
                            </div>
                            <div class="input-field col s12 m11">
                                <input autocomplete="off" type="text" name="dbname" length="{{ limit }}">
                                <label for="dbname">Database name</label>
                            </div>
                            <div>
                                <button class="btn waves-effect waves-light" type="submit">
                                    <span id="database-form-button-text"> Create </span>
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div id="database-change-form">
                        <span class="card-title">Delete Database:</span>
                        <div>Choose a database to delete from the dropdown below. Please note that this is irreversible!</div>
                        <span style="display: block;" class="error-msg">{{ mysql_delete_error }}</span>
                        <form action="/deletedb" method="POST">
                            <div class="input-field col s6">
                                <input autocomplete="off" type="text" name="username">
                                <label for="mysql-username">Server username</label>
                            </div>
                            <div class="input-field col s6">
                                <input autocomplete="new-password" type="password" name="password">
                                <label for="mysql-password">Server password</label>
                            </div>
                            <div class="input-field col s12">
                                <select name="dbname">
                                    <option value="" disabled selected>Choose database to delete</option>
                                    {% for db in databases %}
                                    <option value="{{ db }}">{{ db }}</option>
                                    {% endfor %}
                                </select>
                                <label>Database to delete</label>
                            </div>
                            <div>
                                <button class="btn waves-effect waves-light" type="submit">
                                    <span id="database-form-button-text"> Delete </span>
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}