{% extends "page-skeleton.html" %}
{% block head %}
	{{ super() }}
    <script type="text/javascript" src="../static/javascript/databaseTools.js"></script>
{% endblock %}

{% block body %}
	{{ super() }}

    {# This stuff is the MySQL tab #}
    <div id="mysql" class="container">
        <div class="card z-depth-3" style="min-height: 400px">
            <div class="card-content">
                <span class="card-title teal-title">MySQL Databases</span>
                {% if databases|length > 0 %}
                    <ul class="collection">
                        {% for db in databases %}
                            <li class="collection-item">
                                <div>
                                    {{ db }}
                                    <div onclick="databaseForm('{{ db }}')" class="activator secondary-content">
                                        <i class="material-icons">delete</i>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <br />
                    <p> No Databases to show &nbsp;&nbsp; O_o </p><br>
                {% endif %}

                <a class="activator left btn waves-effect waves-light" onclick="passwordReset(false)">Reset MySQL Password&nbsp;&nbsp;<i class="material-icons">settings_backup_restore</i></a>
                <a class="activator right btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">add</i></a>
                <br><br>
                <span style="display:block;" class="error-msg">{{ mysql_error }}</span>
                {% if new_mysql_password %}
                <p style="color:green;">Your new MySQL password: {{ new_mysql_password }}</p>
                {% endif %}
            </div>

            {# card reveals are what come up when you click something with class "activator".
            The Javascript in the header does the necessary things to pick the correct form
            and change the form as need be. Normally, there is only one "card-reveal" so this
            is a bit of a hack #}
            <div class="card-reveal" style="overflow: hidden;">
                <div id="database-change-form">
                    <span class="card-title teal-title" onclick="databaseForm('')">
                        <span id="database-form-title">New Database:</span>
                        <i class="material-icons right">close</i>
                    </span>
                    <form action="/createdb" method="POST">
                        <div class="input-field">
                            <input autocomplete="off" id="mysql-username" type="text" name="username">
                            <label for="mysql-username">Server username</label>
                        </div>
                        <div class="input-field">
                            <input autocomplete="off" id="mysql-password" type="password" name="password">
                            <label for="mysql-password">Server password</label>
                        </div>
                        <div class="input-field">
                            <input autocomplete="off" id="dbname" type="text" name="dbname">
                            <label for="dbname">Database name</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">
                            <span id="database-form-button-text"> Create </span>
                            <i class="mdi-content-send right"></i>
                        </button>
                    </form>
                </div>
                <div id="password-reset-form" style="display: none;">
                    <span class="card-title teal-title" onclick="passwordReset(true)">
                        <span>Reset MySQL Password:</span>
                        <i class="material-icons right">close</i>
                    </span>
                    <form action="/resetpw" method="POST">
                        <div class="input-field" method="POST">
                            <input autocomplete="off" id="username" type="text" name="username">
                            <label for="username">Server username</label>
                        </div>
                        <div class="input-field">
                            <input autocomplete="off" id="password" type="password" name="password">
                            <label for="password">Server password</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">
                            <span id="database-form-button-text"> Reset </span>
                            <i class="mdi-content-send right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}