{% extends "page-skeleton.html" %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    {{ super() }}

    <div class='card'>
        <div class="card-content">
            <div class="card-title" style="margin-bottom: 1em">Apply for <code> sudo</code> privileges on a Netsoc server</div>

            <p>We have decided to open up one of our servers to the public. "But wait, Netsoc already do that".</p>
            <p>While we give free server space and web-hosting to all UCC students, we don't allow students to have <code> sudo</code> privileges on the server. If they did, they could break the whole server in an instant.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">Enter <code> feynman</code></div>

            <p>We are giving <code> sudo</code> priviliges to all those who wish it (and we deem responsible enough to have it).</p>

            <ul class="collection with-header" style="margin-top: 2em; margin-bottom: 2em">
                <li style="background-color: #f6f6f6;" class="collection-header"> <h3 class="header-text">Things to remember:</h3> </li>
                <li class="collection-item">
                    Other people using the server have <code> sudo</code> as well. They might break stuff; you might break stuff.
                </li>
                <li class="collection-item">
                    You are trusted with <code> sudo</code> so that you can install stuff, run services and run commands that need to be run as root.
                </li>
                <li class="collection-item">
                    You are <em>not</em> being given <code> sudo</code> so that that you can restart or shutdown the server, uninstall applications that others might be using, lock us (the Netsoc SysAdmin Team) out of the server or anything else malicious that will effect the experience of others.
                    <br/>
                    (Even if you lock us out, we still have physical access to the server if needs be).
                </li>
            </ul>

            <p>Any breaches of trust will be acted on <em>immediately</em>.</p>
            <p>Give us your email address to contact you on and we will get in touch with you. We just want to get a feel for you and your intentions with the server. Try to have an idea of what you would set up or do with the server when you approach us. We just have to protect our own :)</p>
            <p style="margin-bottom: 3em">Once we feel that you're all good,  we will make an account for you and give you privileges. You will then be SSHing to <code> feynman.netsoc.co</code></p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">Fill in the form below and sit tight!</div>
            <form class="container" method="POST" action="/completesudoapplication" accept-charset="UTF-8">
                <div class="input-field">
                    <label for="email">Username</label>
                    <input disabled="disabled" name="username" type="text" value="{{ username }}">
                    <input autocomplete="off" name="username" type="hidden" value="{{ username }}">
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input autocomplete="off" name="email" type="text">
                </div>

                <div class="input-field">
                    <label for="reason">What do you need sudo for?</label>
                    <textarea class="materialize-textarea" name="reason"></textarea>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action"> Register
                    <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
