	{% extends "page-skeleton.html" %}

{% block head %}
	{{ super() }}
	<style>
		.teal-line {
		  display: block;
		  height: 1px;
		  border: 0;
		  border-top: 1px solid #009688;
		  margin: 1em 0;
		  padding: 0;
		}
		.teal-title {
			background: #4db6ac;
			width: 100%;
			display: block;
			padding: 0.1em;
			color: white;
			border: 1px solid #44a299;
			text-align: center;
		}
	</style>
{% endblock %}

{% block body %}
	{{ super() }}
	{# This tab is for the landing page section of the site which displays services offered #}
	<div id="home" class="container">
		<div class='card z-depth-3' style='margin-top:2%;'>
			<div id="home" class="card-content">
				<span class="card-title teal-title">What We Offer</span>
				<hr class="teal-line" />
				<span class="card-title">Free server space</span>
				<p>You have a free account on one of our servers, automatically created when you signed up on this website. What you do with it is all up to you!</p><br />
				<p>Please do read the <code>ACCEPTABLE_USAGE_POLICY</code> file in your home directory. If you are found to be in violation of this, we will stop whatever you are doing and possibly remove your account.</p>
				<hr class="teal-line" />
				<span class="card-title">Free web hosting</span>
				<p>Your <code>public_html</code> folder in you home-directory will be the root of your website. This website can be found at <code>"http://&lt;yourusername&gt;.netsoc.co"</code>.</p><br />
				<p>Please contact us if you wish to have your own domain name point to this site instead. </p>
				<hr class="teal-line" />
				<span class="card-title">MySQL Databases</span>
				<p>With your account, comes a MySQL account. This database will not be reset after the college year, unlike other offerings of this service from college departments.</p><br />
				<p>Your MySQL databases can be found at <code>mysql.netsoc.co</code>. Your MySQL username will be your server username. To create new databases, remove databases or reset your MySQL password, please see the MySQL tab in your admin tools.</p><br />
				<p>Please note, the name of your database will be prefixed with your username and an underscore. So if your username is <code>john</code>, your database names will be of the form "john_&lt;rest of name here&gt;".</p>
				<hr class="teal-line" />
				<span class="card-title">Home Directory Backups</span>
				<p>We keep weekly backups of home-directories, going back 4 weeks. At the end of every month, we backup your home directly. These monthly backups go back forever. </p><br />
				<p style="padding-bottom: 1em">If you need to recover a backup, see the <code>BACKUPS</code> tab in your admin tools.</p>
			</div>
		</div>
	</div>
{% endblock %}
