{% extends "page-skeleton.html" %}

{% block body %}
    {{ super() }}

    {# This tab is for the landing page section of the site which displays services offered #}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Free server space</span>
            <p>You have a free account on one of our servers, automatically created when you signed up on this website. What you do with it is all up to you!</p>
            <br/>
            <p>Please do read the <code>ACCEPTABLE_USAGE_POLICY</code> file in your home directory. If you are found to be in violation of this, we will stop whatever you are doing and possibly remove your account.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Free web hosting</span>
            <p>Your <code>public_html</code> folder in you home-directory will be the root of your website. This website can be found at <code>"http://&lt;yourusername&gt;.netsoc.co"</code>.</p>
            <br/>
            <p>Please contact us if you wish to have your own domain name point to this site instead. </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">WordPress Installation</span>
            <p>We have a one-click solution for installing WordPress to your home directory. You can find it on this site.</p><br />
            <p>Your WordPress installation can then be found at <code>"http://&lt;yourusername&gt;.netsoc.co/wordpress"</code></p>
        </div>
    </div>    
    <div class="card">
        <div class="card-content">
            <span class="card-title">MySQL Databases</span>
            <p>With your account, comes a MySQL account. This database will not be reset after the college year, unlike other offerings of this service from college departments.</p><br />
            <p>Your MySQL databases can be found at <code>mysql.netsoc.co</code>. Your MySQL username will be your server username. To create new databases, remove databases or reset your MySQL password, please see the MySQL tab in your admin tools.</p>
            <br/>
            <p>Please note, the name of your database will be prefixed with your username and an underscore. So if your username is <code>john</code>, your database names will be of the form "<code>john_&lt;rest of name here&gt;</code>".</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Home Directory Backups</span>
            <p>We keep weekly backups of home-directories, going back 4 weeks. At the end of every month, we backup your home directly. These monthly backups go back forever. </p>
            <br/>
            <p style="padding-bottom: 1em">If you need to recover a backup, see the <code>BACKUPS</code> tab in your admin tools.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Minecraft Server</span>
            <p>Accessible at <code>minecraft.netsoc.co</code> is a public Minecraft Server.</p>
            <br/>
            <p>Featuring: </p>
                <ul style="list-style-position: inside;">
                    <li style="list-style-type: disc;">Economy</li>
                    <li style="list-style-type: disc;">Factions</li>
                    <li style="list-style-type: disc;">Shops</li>
                    <li style="list-style-type: disc;">And more!</li>
                </ul>
        </div>
    </div>
{% endblock %}
