{% extends "page-skeleton.html" %}
{% block body %}
	{{ super() }}

	<!-- Tab headers -->
	<div class="col s12">
		<ul class="tabs">
			<div class="indicator teal lighten-2" style="z-index:1"><!--changes tab colors --></div>
			<li class="tab">
				<a class="active teal-text lighten-2" href="#mysql">MySQL</a>
			</li>
			<li class="tab">
				<a class="teal-text lighten-2" href="#backups">Backups</a>
			</li>
			<li class="tab">
				<a class="teal-text lighten-2" href="#wordpress">Wordpress</a>
			</li>
			<li class="tab">
				<a class="teal-text lighten-2" href="#help">Help</a>
			</li>
		</ul>
	</div>

	<!-- Tab bodies -->
	<div id="mysql" class="col s12">
		<p> Do cool shit with your MySQL databases </p>
	</div>
	<div id="backups" class="col s12">
		<p> Need backs of your home directory? Here you go brah </p>
	</div>
	<div id="wordpress" class="col s12">
		<p> Some wordpress info I guess and maybe a tasty buton to install it </p>
	</div>
	<div id="help" class="col s12">
		<p> Generic section where users can contact a sys admin with their problems </p>
	</div> 
{% endblock %}
