#!/usr/bin/make -f

#DH_VERBOSE=1

EXTRA_REQUIREMENTS=--preinstall "setuptools>=34" --preinstall "pip>=10" --preinstall=no-manylinux1 --python "/usr/bin/python3.5"
DH_VENV_ARGS=--with python-virtualenv --setuptools $(EXTRA_REQUIREMENTS)

%:
	dh $@ ${DH_VENV_ARGS}

override_dh_virtualenv:
	dh_virtualenv --setuptools ${EXTRA_REQUIREMENTS}
