#wordpress-image {
	height: 180px; 
	padding: 5px; 
	text-align:center; 
	display: block; 
	margin: 30px auto;
}

#wordpress-install-button {
	margin-top: 30px;
	text-align:center; 

}

#wordpress-setup-link, #wordpress-progress, #wordpress-setup-fail {
	display: none;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#wordpress-image {
    	height: 90px;
	}
}