#wordpress-image {
	height: 180px; 
	padding: 5px; 
	text-align:center; 
	display: block; 
	margin: 30px auto;
}

#wordpress-install-container {
	min-height: 400px;
	width:60%;
	margin: 2% auto;
	padding-bottom: 3%;
}

#wordpress-install-button {
	margin-top: 30px;
	text-align:center; 

}

#wordpress-progress {
	display: none;
}

#wordpress-setup-link {
	display: none;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#wordpress-image {
    	height: 90px;
	}
}